extends layout

block content
  h1 #{genre.name} 

  p #[strong Games tagged with #[em #{genre.name}:]]
    ul(class="list detail-list")
      each game in genre_games
        li
          a(href=game.url) 
            div(class="game-item")
              div #{game.title} 
              div | #{game.developer} 
              div | $#{game.price}

  hr
  p
    a(href=genre.url+'/delete') Delete Genre
  p
    a(href=genre.url+'/update') Update Genre