extends layout

block content
  h1 #{genre.name} 

  p #[strong Games tagged with #[em #{genre.name}:]]
    ul(class="list detail-list")
      each game in genre_games
        li
          a(href=game.url) 
            div(class="game-item")
              div #{game.title} 

  hr
  p
    a(href=genre.url+'/delete/admin') Delete genre
  p
    a(href=genre.url+'/update/admin') Update genre